{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
    <title>Imager!</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Pacifico' rel='stylesheet' type='text/css'>
        <nav>
            <!-- <h4 class='nav_icon'>Imager</h4> -->
            <div id='navigation_bar'>
                <a href="{% url 'home' %}" class='nav_icon'>Home</a>
                {% if user.is_authenticated %}
                <a href="{% url 'my_profile' %}" class='nav_icon'>My Profile</a>
                <a href="{% url 'logout' %}" class='nav_icon'>Logout</a>
                {% else %}
                <a href="{% url 'login' %}" class='nav_icon'>Login</a>
                <a href="{% url 'registration_register' %}" class='nav_icon'>Register</a>
                {% endif %}
            </div>
        </nav>
        <!-- <hr> -->
    </head>
    <body>
    {% block content %}
    {% endblock %}
    </body>
<html>
