{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}

<h1>Welcome to Your Library!</h1>
<div id='album_gallery'>
    <h3>Albums</h3>
    {% for album in albums %}
        {% thumbnail album.cover.picture "200x200" crop="center" as im %}
            <a href="{% url 'album_update' album.id %}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='library_gallery'></a>
        {% empty %}
            <a href="{% url 'album_update' album.id %}"><img src="{% static '/media/images/git.jpg' %}" height="200" width="200" class="library_gallery" /></a>
        {% endthumbnail %}
    {% endfor %}
</div>
{% if not albums %}
    <div id='no_albums'>
    </div>
{% endif %}
<div id='photo_gallery'>
    </br>
    <h3>Photos</h3>
    {% for photo in photos %}
        {% thumbnail photo.picture "200x200" crop="center" as im %}
            <a href="{% url 'update' photo.id %}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='library_gallery'></a>
        {% endthumbnail %}
{% endfor %}
</div>

{% endblock %}
