{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}


{% block content %}
<div id='profile_content'>
    <h1>{% if user.first_name and not profile.name_privacy %}{{ user.first_name }}{% else %}{{ user }}{% endif %}'s Profile</h1>
    <!--     <h2 id='library_link'><a href="{% url 'library' user.id %}">{% if user.first_name %}{{user.first_name}}{% else %}{{user}}{% endif %}'s Library</a></h2> -->
    <div id='profile_built'>
        <div id='profile_picture_area'>
            {% if profile.profile_picture and not profile.picture_privacy %}
            <img class='profile_pic' src="{% static profile.profile_picture.url %}" /></br>
            {% else %}
            <img class='profile_pic' src="{% static 'default-user-image.png' %}" /></br>
            {% endif %}
        </div>
        <div class="information">
            Date Joined: {{ profile.user.date_joined|date:"M. d, Y" }}</br>
            {% if not profile.birthday_privacy %}Birthday: {{ profile.birthday }}</br>{% endif %}
            {% if not profile.phone_privacy %}Phone: {{ profile.phone_number }}</br>{% endif %}
            Followers: {{ following }}</br>
            Albums: {{ albums|length }}</br>
            Photos: {{ num_photo }}
        </div>
    </div>
</div>
<!-- <h2 id='stream_link'><a href="{% url 'stream' user.id %}">Stream</a><h2> -->
<div id='profile_albums'>
    <h2>{% if user.first_name and not profile.name_privacy %}{{ user.first_name }}{% else %}{{ user }}{% endif %}'s Albums</h2>
    {% for album in albums %}
        {% thumbnail album.cover.picture "100x100" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% empty %}
            <img src="{% static '/media/images/git.jpg' %}" height="100" width="100"/>
        {% endthumbnail %}
    {% endfor %}
</div>
{% endblock %}