dj-database-url==0.3.0
Django==1.7.5
Pillow==2.7.0
boto==2.36.0
django-configurations==0.8
django-registration-redux==1.1
ecdsa==0.13
factory-boy==2.4.1
paramiko==1.15.2
py==1.4.26
pycrypto==2.6.1
selenium==2.45.0
sorl-thumbnail==12.2
sqlparse==0.1.14
wsgiref==0.1.2
