{% extends 'base.html' %}

{% block content %}
<a href="javascript:history.go(-1)"><h5>&lsaquo;&lsaquo; Back</h5></a>
{% if photo %}
    <h3>Edit my photo!</h3>
{% else %}
    <h3>Upload a new photo!</h3>
{% endif %}
<form action="" id="upload" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" id="submit" value="Submit">
</form>
{% if photo %}
    <form action="{% url 'delete' photo.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" name="delete" value="Delete Photo"/>
    </form>
{% endif %}

{% endblock %}